<!-- form method POST -->
<!-- form objects -->
<!-- hidden_tag -->
<!-- username.label  username -->
<!-- password label pasword -->
<!-- confirm label confirm -->
<!-- submit -->
<!-- <a href= url_for 'register'> -->
<!DOCTYPE html>
<html>
<head>
    <title> Register </title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }}<br>
        {{ form.password.label }} {{ form.password() }}<br>
        {{ form.confirm.label }} {{ form.confirm() }}<br>
        {{ form.submit() }}
    </form>
    <p> Already have an account? <a href="{{ url_for('login') }}">Register here</a></p>
</body>
</html>